
@media screen and (min-width: 450px) and (min-height: 450px){
	main{
		/*padding-top: 3.5rem;*/

	}
	#main-menu{
		/*position: absolute;*/
		/*bottom: 3.5rem;*/
	}
	.menu-header {
		top: calc(45vh - 2.85rem);
		font-size: 3.2rem;
	}
	#play-click {
		top: calc(60vh - 2.5rem);
		font-size: 1.35rem;
	}
	#score-section-container{
		top: 0rem;
	}
	.score-row{
		font-size: 1.5rem;
	}
	.board-container{
		width: 15rem;
		height: 15rem;
		top: calc(40vh - 8.2rem);
	}
	#surrender-button{

		top: calc(45vh - 8rem);
	}
}


@media screen and (min-width: 600px) and (min-height: 600px){
	.score-container{
		top: calc(20vh - 4.2rem);
	}
	.score-row{
		font-size: 1.7rem;
	}
	.board-container{
		width: 18rem;
		height: 18rem;
		top: calc(40vh - 9.2rem);
	}
}

@media screen and (min-width: 700px) and (min-height: 700px){
	
	.menu-header {
		top: calc(40vh - 2.85rem);
		font-size: 5rem;
	}
	#play-click {
		top: calc(56vh - 2.5rem);
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 900px) and (min-height: 900px){
	.score-container{
		top: calc(22vh - 6.2rem);
	}
	.score-row{
		font-size: 2rem;
	}
	.board-container{
		width: 24rem;
		height: 24rem;
		top: calc(40vh - 13rem);
	}
	.board-square{
		border-size: 4px;
	}
	#surrender-button{
		
		top: calc(45vh - 11rem);
	}
}