html{
	
    min-height: 28rem;   
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-image: linear-gradient(to bottom, #dcf4ff, #cbf9ff, #bffdf6, #beffe4, #ccffcc);
}

body{
    /*max-height: 100%;*/
	min-height: 100vh;   
	min-width: 100%;
    padding: 0 !important;
    margin: 0 !important;
	/*overflow: hidden;*/
} 

main {
    top: 0;
    padding-top: 0rem;
    min-width: 100%;
    min-height: 100vh;   
    /*background-color: #EEE9E3;*/
    /* background-color: rgb(210, 240, 255); */
    color: #3d2922;
}

thead, tbody{
	position: relative;
	width: 100%;
}
thead, tbody, tr, td{
	margin: 0 auto;
}

.section-container{
	position: relative;

}

.backdrop {
    display: block;
    visibility: hidden;
    /* opacity: 0; */
    z-index: 200;
    position: fixed;
    /*display: none;*/
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    padding: 0.5rem;
    margin: 0;
    /*padding-top: 1rem;*/
    background-color: rgba(63, 60, 70, 0.9);
    opacity: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
}

.backdrop.show{
    opacity: 1;
    visibility: visible;
}

.modal-container{
    position: relative;
    /*display: none;*/
    display: block;
    /*position: fixed;*/
    width: (100% - 1rem);
    max-width: 33rem;
    /*margin: calc(50vh - 13.4rem) calc(50vw - 50%);*/
    /*margin: calc(33vh - 6.5rem) calc(50vw - 20rem);*/
    margin: 0 auto;
    top: calc(42vh - 7.5rem);
    padding: 2rem 1rem;
    background-color: rgb(220, 244, 255);
    -webkit-box-shadow: 2px 3px 2px 0px #333;
    box-shadow: 2px 3px 2px 0px #333;     
    border: 1px solid #111;
    border-radius: 5px;
    /*overflow: hidden;*/
    overflow-y: auto;
    max-height: calc(100vh - 2rem);
    color: #15173d;
}

#intro-modal-header{
    text-transform: uppercase;    
}

#turn-modal{
	top: calc(50vh - 3.2rem);
	display: flex;
	align-items: center;
}

#turn-modal-header{
	margin: 0 auto;
	margin-bottom: 0;
}

#win-modal, #surrender-modal{
	top: calc(50vh - 7.5rem);
}

#win-button-container, #surrender-button-container{
    margin-top: 1rem;
}

#intro-modal, #turn-modal, #win-modal, #surrender-modal{
    /*transform: translateY(-1000px);*/
    transition: transform 0.5s ease-in-out;
}

#intro-modal.show, #turn-modal.show, #win-modal.show{
    /*transform: translateY(0px);*/
}

.modal-container:focus{
    -webkit-box-shadow: 0 0 0 1px #111, 0 0 0 2px #555, 0 0 0 4px #eee;
    box-shadow: 0 0 0 1px #111, 0 0 0 2px #555, 0 0 0 4px #eee;
}

.modal__close {
    /*z-index: 102;*/
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0;
    padding: 0.9rem;
    /*margin-left: calc(95% - 2.7rem);*/
    /*margin-right: 0;*/
    /*margin-top: -2.2rem;*/
}



.modal__close svg, .modal__close-png {
    width: 100%;
    height: 100%;
    filter: invert(13%) sepia(12%) saturate(1874%) hue-rotate(330deg) brightness(99%) contrast(87%);
}

.modal__close svg:hover, .modal__close-png:hover {
    filter: invert(13%) sepia(12%) saturate(1874%) hue-rotate(330deg) brightness(0%) contrast(87%);   
}

.modal__close image {
    width: 100%;
    height: 100%;
}

.modal-header {
    /*display: inline-block; */
    margin: 0 auto;
    /*margin-bottom: 1.5rem;*/
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Short Stack', cursive;
    
}

.modal-paragraph {
	margin: 0 auto;
	margin-top: 1.5rem;
	text-align: center;
}

#player-name-label{
	display: block;
	width: 85%;
	max-width: 22rem;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.17rem;
}

.text-field {
    position: relative;
    display: block;
    width: 85%;
    max-width: 22rem;
    height: 2.8rem;
    margin: 0 auto;
    margin-top: 1rem;

    border: solid 1px #888; 
    border-radius: 5px;
    padding-left: 0.6rem;
    font-size: 1.05rem;
    background-color: #fff;
    /*right: 0.5rem; */
    font-family: 'Lato', sans-serif;
}

.text-field:focus {
    background-color: #fcfae0;
}

.text-field.invalid {
    background-color: #fcc;
}

.modal-error-message{
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.0rem;
    width: 85%;
    max-width: 26rem;
    margin: 0.8rem auto;

    color: rgb(140, 20, 20);
}
    

#intro-submit{
    display: block;
    width: 78%;
    max-width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    margin: 2rem auto;
    /*background-color: #3d2922;*/
    /*not sure what color to use*/
    background-color: rgba(34, 68, 34, 1);
    /*color: #EEE9E3;*/ 
    color: #eee;
    outline: none;
    /* border: 2px solid rgba(34, 68, 34, 1); */
    border-radius: 10px;
}

#intro-submit:hover {
    /*background-color: #4d3932;*/
    background-color: #353;
    /*color: #FEF9F3;*/
    color: #fff;
    text-shadow: 0 0 0.2px #111;
}

#intro-submit:focus{
    -webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
}

#win-button-container, #surrender-button-container{
	display: flex;
    justify-content: center;
}

#again-modal-button, #quit-modal-button, #surrender-modal-button, #abort-modal-button {
	margin: 0 1.5rem;
	width: 5rem;
    height: 3rem;
    border: none;
    font-size: 1.2rem;
}
#again-modal-button:focus, #quit-modal-button:focus {
    -webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
}

#quit-modal-button, #abort-modal-button {
    color: #222;
    border: 1px solid rgb(41, 41, 41);
}

#quit-modal-button:hover, #abort-modal-button:hover {
    color: #444;
    border-color: #444;
}

#again-modal-button {
    background-color: #353;
    color: #eee;
}

#surrender-modal-button {
    background-color: #9e1818;
    color: white;
}

#again-modal-button:hover {
    background-color: #464;
    color: #fff;
}

#surrender-modal-button:hover {
    background-color: #ae2828;
}

/*main menu*/
#main-menu{
	display: none;
	height: 100vh;
    min-height: 28rem;   
	min-width: 100%;
    background:-webkit-repeating-linear-gradient(90deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 35px, rgb(224, 239, 241) 35.001px, rgb(224, 239, 241) 70px, rgb(223, 220, 239) 70.001px, rgb(223, 220, 239) 105px);
    background:-o-repeating-linear-gradient(90deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 35px, rgb(224, 239, 241) 35.001px, rgb(224, 239, 241) 70px, rgb(223, 220, 239) 70.001px, rgb(223, 220, 239) 105px);
    background:-moz-repeating-linear-gradient(90deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 35px, rgb(224, 239, 241) 35.001px, rgb(224, 239, 241) 70px, rgb(223, 220, 239) 70.001px, rgb(223, 220, 239) 105px);
    background:repeating-linear-gradient(90deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 35px, rgb(224, 239, 241) 35.001px, rgb(224, 239, 241) 70px, rgb(223, 220, 239) 70.001px, rgb(223, 220, 239) 105px);
    
}

#main-menu.show{
	display: block;
}

.menu-header{
	position: relative;
	top: calc(45vh - 2.5rem);
	font-size: 2.3rem;
	text-align: center;
    color: #88d388;
    text-shadow: 0px 0px 3px #000000, 2px 2px 0px #333, 3.5px 3.5px 0px #111, 0px 0px 1px #111111;
}

#play-click{
    display: block;
	position: relative;
    top: calc(65vh - 3rem);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border: none;
    animation: start-transparency 2s ease infinite;
    text-shadow: 0px 0px 1px #111111, 0px 0px 1px #111111;
    font-size: 1.05rem;
    letter-spacing: 2px;
}

/*Scoreboard CSS*/
#score-section-container{
	display: none;
}
#score-section-container.show{
	display: block;
}
.score-flex{
    position: relative;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    background-color: rgba(43, 40, 50, 1);
    top: calc(20vh - 3.5rem);
    border-radius: 15px;
    min-width: 18.75rem;
    width: 90%;
    max-width: 27rem;
    margin: 0 auto;
    padding: 0.5rem;
}
.score-container{
	position: relative;
	/*top: calc(20vh - 3.0rem);*/
	margin: 0;
    margin-right: 1rem;
    border-spacing: 0px;
    border: 1px solid rgba(203, 250, 200, 0.5);
    border-radius: 3px;
    /*background-color: rgba(43, 40, 50, 1);*/

}

.score-row{
	
	margin: 0 auto;
	width: 100%;
	/*border: 1px solid black;*/
	font-size: 1rem;
    color: #cfc;
}
.score-cell{
    text-align: right;
    display: table-cell;
	/*text-align: center;*/
	/*width: calc(45vw);*/
    min-width: 2.5rem;
    border: 1px solid rgba(203, 250, 200, 0.5);

    margin: 0;
    padding: 0.1rem;
    border-spacing: 0px;
}
.score-first-column{
    text-align: left;
    font-family: 'Short Stack', cursive;
}

#player-one-name{
    /*border-bottom: 2px solid black;*/
}

.active-player-container{
    position: relative;
    /*top: calc(20vh - 3.0rem);*/
    color: #cfc;
    margin: 0;
    margin-left: 1rem;
    /*background-color: rgba(43, 40, 50, 1);*/
}

.active-header{
    font-size: 1.05rem;
}

#active-icon{
    width: 3rem;
    height: 3rem;
    border: 2px solid rgba(203, 250, 200, 0.5);

    margin: 0 auto;
    margin-top: 0.4rem;
}

#active-icon.cross {
    /* <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
    background: url(../images/x-icon.png);
    background-size: cover;
}

#active-icon.circle {
    /* <div>Icons made by <a href="https://www.flaticon.com/authors/balraj-chana" title="Balraj Chana">Balraj Chana</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
    background: url(../images/circle-icon.png);
    background-size: cover;
}
/*Board CSS*/
#board-section{
	display: none;
}

#board-section.show{
	display: block;

}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	position: relative;
	margin: 0 auto;
	top: calc(40vh - 7rem);
	width: 13.3rem;
    /*max-width: 24rem;*/
    height: 12.75rem;
    /*background-color: pink;*/
    /*background-color: #333;*/
    background-color: rgba(53, 50, 60, 1);
    border: 1px solid #cfc;
    /* border: 5px solid white; */
    box-sizing: content-box;
}

.board-square{
	margin: 0;
	width: 33.3%;
	height: 33.3%;
	border-radius: 0;
    border: 2px solid #cfc;
}

.board-square:focus{
    background-color: #555;
    box-shadow: inset 0 0 0 2px #88d388;
}

.board-square:nth-of-type(1) {
    border-top: none;
    border-left: none;
}

.board-square:nth-of-type(2) {
    border-top: none;
}

.board-square:nth-of-type(3) {
    border-top: none;
    border-right: none;
}

.board-square:nth-of-type(4) {
    border-left: none;
}

.board-square:nth-of-type(6) {
    border-right: none;
}

.board-square:nth-of-type(7) {
    border-left: none;
    border-bottom: none;
}

.board-square:nth-of-type(8) {
    border-bottom: none;
}

.board-square:nth-of-type(9) {
    border-bottom: none;
    border-right: none;
}

.board-square.cross {
    /* <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
    background: url(../images/x-icon.png);
    background-size: cover;
}

.board-square.circle {
    /* <div>Icons made by <a href="https://www.flaticon.com/authors/balraj-chana" title="Balraj Chana">Balraj Chana</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
    background: url(../images/circle-icon.png);
    background-size: cover;
}

/*Not used*/
.board-square.circle:focus, .board-square.cross:focus {
    background-color: #555;
    box-shadow: 0 0 0 2px rgb(140, 20, 20);
}

#surrender-button{
	position: relative;
	margin: 0 auto;
	left: calc(50vw - 5rem);	
	top: calc(45vh - 6rem);

	/*margin-top: 3rem;*/
	/*margin-bottom: 3rem;*/
    width: 10rem;
	height: 3rem;
    border: none;
    background-color: #9e1818;
    color: white;
    padding-left: 2.5rem;
    font-size: 1.2rem;
}

#surrender-button:hover{
    background-color: #ae2828;
}

#surrender-button:focus{
    -webkit-box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
    box-shadow: 0px 0px 0.5px 1px #FFFFFF, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #000000; 
}

#white-flag {
    position: absolute;
    left: 1.65rem;
    top: 1rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
}

@keyframes start-transparency {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}