/*defaults*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    /*min-height: 200rem;*/
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
	font-family: 'Roboto', sans-serif;
    width: 100%;
    /*height: 200rem;*/
    min-height: 100%;
    padding: 0;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
	font-size: 1.5rem;
}

p {
	font-size: 1.1rem;
}

main {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    font-size: 1.1rem;
    padding: 0.7rem;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #555;
    border-radius: 5px;
}

button:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000; 
  	box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
}

input:focus {
    outline: none;
   	-webkit-box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000; 
    box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000; 
    box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
}

div:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000; 
    box-shadow: inset 0px 0px 0.5px 1px #FFFFFF, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
}

li {
    list-style-type: none;
}

.loader-container{
    z-index: 1000;
    position: fixed;
    width: calc(100vw - (100vw - 100%));
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    min-height: 100vh;
    vertical-align: middle;

    background-color: #EEE9E3;
}

.loader__message-container{
    position: relative;
    display: block;
    border-radius: 50%;
    width: 17rem;
    height: 12rem;
    margin: calc(50vh - 4.5rem) auto;
    /* -webkit-box-shadow: inset 0px 0px 2px 10px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 2px 10px #FFFFFF;
    box-shadow: inset 0px 0px 2px 10px #FFFFFF; */
   
}

.loader__p {
    margin: 1rem auto;
    color: #3d2922;
    /*text-shadow: 0 0 0 2px rgb(240, 240, 240);*/
    font-size: 1.55rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    text-transform: uppercase;
    /*text-shadow: 0px 0px 1px #aaa, 0px 0px 2px #111;*/
    /*font-style: italic;*/
}

.no-display.loader-container {
    display: none;
 }

.no-display.hide-png {
    display: none;
}

.no-display.hide-svg {
    display: none;
}

/*navigation bar*/
.main-header{
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 3.5rem;
	padding: 0rem;
	padding-right: 0.7rem;
	background-color: #3d2922;
    color: #EEE9E3;

}
.main-nav{
	/*z-index: 101;*/
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

.nav__title{
	z-index: 102;
	margin-left: 0.5rem;
	display: inline-block;
	text-decoration: none;
	height: 3.5rem;
	line-height: 3.4rem;
	padding: 0 0.7rem;
    color: #EEE9E3;
    font-size: 2.5rem;
	/*overflow: hidden;*/
    /*margin-left: ;*/

}

.nav__title:focus {
    -webkit-box-shadow: inset 0px 0px 0.5px 1px #000000, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #FFFFFF; 
    box-shadow: inset 0px 0px 0.5px 1px #000000, inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #FFFFFF;
}

.nav__title-img {
    padding-top: 0.4rem;
}

#add-book {
    position: fixed;
    overflow: hidden;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: #3d2922;
    color: #FFEFE0;
    padding: 0.5rem;
    margin-left: calc(1rem);
    top: calc(100vh - 4.5rem);
    width: 3rem;
    height: 3rem;
    /* line-height: 1.5rem; */
}

#add-book:hover {
    background-color: #3d3629;
}

#add-book:focus {
    -webkit-box-shadow: 0px 0px 0.5px 1.5px #000000, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #FFFFFF; 
    box-shadow: 0px 0px 0.5px 1.5px #000000, 0px 0px 1px 2px #969696, 0px 0px 2px 3px #FFFFFF;
}

.plus-png, .plus-svg {
    position: relative;
    /* margin: 0 auto; */
    /* bottom: 0.25rem;
    right: 0.21rem; */
    filter: invert(94%) sepia(8%) saturate(1098%) hue-rotate(312deg) brightness(104%) contrast(101%);
}

.plus-png, .plus-svg, .plus-image {
    width: 2rem;
    height: 2rem;
}